<div class="d-flex justify-content-center mt-5">
    <div class="card mb-3" style="max-width: 540px;" >
        <div class="row g-0 d-flex">
            <div class="col-md-4">
                <img
                    [src]="myProduct.image"
                    class="img-fluid rounded-start"
                    alt="Card title"
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{myProduct.name}}</h5>
                    <p class="card-text">
                        Descripcion: {{myProduct.description}}
                    </p>
                    <p class="card-text">
                        Tipo: {{myProduct.category}}
                    </p>
                   @if (myProduct.stock < 100) {
                    <span class="badge bg-danger">Pocas piezas</span>
                   }
                   <p class="card-text">
                    Stock: {{myProduct.stock}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted"
                            >Precio: {{myProduct.price | currency}}</small
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
